<h3><i class="fas fa-book-reader"></i>Reflector</h3>
<div class="section">
    <p class="lead"> Add public and private memories from your life</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
     <i class="fab fa-fa-google left">Login with Google</i>
    </a>
</div>